{% extends "base.html" %}
{% block title %}Acad Planner{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">

    <!-- PARTE ESQUERDA (FORM + TEXTOS) -->
    <div class="login-form-container">
        <div class="login-card">

            <h1 class="main-title">ACAD<br>PLANNER</h1>

            <p class="description">
                Sua agenda acadêmica. <br>
                Anote datas. Não perca prazos. Seja responsável.
            </p>

            <!-- PRIMEIRA VEZ -->
            <p class="subtitle">Sua primeira vez aqui?</p>
            <a href="{{ url_for('auth.register') }}">
                <button class="login-button register-btn">Registre-se</button>
            </a>

            <!-- JÁ TEM CONTA -->
            <p class="subtitle second-subtitle">Já é cadastrado?</p>
            <a href="{{ url_for('auth.login') }}">
                <button class="login-button login-btn">Login</button>
            </a>

        </div>
    </div>

   
    <div class="side-image"></div>

</div>

{% endblock %}
