{% extends "base.html" %}

{% block head %}
    <title>Acad Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">

{% endblock head %}

{% block content %}
    {% include "components/flash.html"%}
    <div class="box">
        <h1>ACAD<br>PLANNER</h1>

        <p>SUA AGENDA ACADÊMICA.<br>
        ANOTE DATAS. NÃO PERCA PRAZOS. SEJA RESPONSÁVEL.</p>
    </div>
    

    <div class="right-area">
        <div class="subtitle">SUA PRIMEIRA VEZ AQUI?</div>
        <a href="{{ url_for('auth.register') }}">
            <button class="btn">REGISTRE-SE</button>
        </a>

        <div class="subtitle">JÁ É CADASTRADO?</div>
        <a href="{{ url_for('auth.login') }}">
            <button class="btn">LOGIN</button>
        </a>
    </div>

{% endblock content %}