{% extends "base.html" %}
{% block title %}Login — Acad Planner{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block content %}

{% include "components/flash.html"%}

<div class="login-container">

    <!-- PARTE ESQUERDA (FORMULÁRIO) -->
    <div class="login-form-container">
        <div class="login-card">

            <h1 class="main-title">Bem-vindo de volta</h1>

            <p class="description">
                Entre com suas credenciais para acessar o Acad Planner.
            </p>

            <form action="{{ url_for('auth.login') }}" method="post" class="form-login">

                <input type="text" name="email_or_username" placeholder="Email ou nome de usuário" required>
                <input type="password" name="password" placeholder="Senha" required>

                <button class="login-button login-btn">Entrar</button>

            </form>

            <p class="subtitle second-subtitle">Ainda não tem conta?</p>
            <a href="{{ url_for('auth.register') }}">
                <button class="login-button register-btn">Criar conta</button>
            </a>

        </div>
    </div>

    <!-- PARTE DIREITA (MESMA IMAGEM DA HOME) -->
    <div class="side-image"></div>

</div>

{% endblock %}
