<!-- user.html -->
{% extends "base.html" %}

{% block head %}
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/user.css') }}">
{% endblock head %}

{% block content %}
<div class="main-content">
    <div class="header">
        {% include "components/flash.html" %}
        <h1>Meu Perfil</h1>
        
        <div class="botoes">

            <a href="{{ url_for('events.events') }}"><button class="add-event-btn">Meus eventos</button></a>
            
            <form action="{{ url_for('auth.logout') }}" method="POST">
                <button type="submit" class="add-event-btn">Logout</button>
            </form>
        </div>
    </div>

    <div class="user-card">
        <h2 style="color: #2300A3; margin-bottom: 25px; font-size: 24px; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px;">
            <i class="fas fa-user-circle"></i> Informações do Usuário
        </h2>
        
        <div class="user-info-grid">
            {% for info in informacoes %}
            <div class="info-item">
                <span class="info-label">Nome Completo</span>
                <span class="info-value">{{ info.name }}</span>
            </div>
            
            <div class="info-item">
                <span class="info-label">Nome de Usuário</span>
                <span class="info-value">{{ info.username }}</span>
            </div>
            
            <div class="info-item">
                <span class="info-label">E-mail</span>
                <span class="info-value">{{ info.email }}</span>
            </div>
            {% endfor %}
        </div>
        
        <div class="profile-actions">
            <a href="{{ url_for('user.user_edit', user_id=current_user.id) }}" class="btn-primary">
                <i class="fas fa-edit"></i> Editar Perfil
            </a>
            
            <a href="{{ url_for('events.events') }}" class="btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar para Eventos
            </a>
        </div>
    </div>
</div>
{% endblock %}