/* Reset e fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* mensagens flash */


/* Tela inteira */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #4a7df2; /* fundo azul */
}

/* Container principal */
.login-container {
    display: flex;
    width: 90%;
    max-width: 1100px;
    height: 90%;
    max-height: 700px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

/* Painel esquerdo (textos e botões) */
.login-form-container {
    flex: 1;
    min-width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

/* Card interno com textos */
.login-card {
    width: 100%;
    max-width: 400px;
}

/* Título principal */
.main-title {
    font-size: 45px;
    font-weight: 700;
    color: #34495e;
    margin-bottom: 20px;
    line-height: 1.1;
}

/* Descrição */
.description {
    font-size: 15px;
    color: #555;
    margin-bottom: 35px;
    line-height: 1.4;
}

/* Subtítulos */
.subtitle {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 10px;
    margin-top: 20px;
}

.second-subtitle {
    margin-top: 40px;
}

/* Botões */
.login-button {
    width: 100%;
    padding: 15px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 8px 15px rgba(230,126,34,0.3);
}

.login-button:hover {
    background-color: #d35400;
    transform: translateY(-2px);
}


.side-image {
    flex: 1.2; 
    min-width: 40%; 
    background-image: url("/static/images/acaderno_planner.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}
